body {
  background: url("../images/Dogs.png");
}

.jumbotron {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}

.btn-primary {
  display: block;
  margin: 0 auto;
}
.container {
  background-color: white;
}
